# Data Science Tools and Baseball

In this notebook, Data Science Tools and Baseball are summarized

**Objectives**
* List popular languages for Data Science
* List commonoly used libraries used by Data Scientists
* Evaluate Arithmetic Expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Keras
3. TensorFlow

| Data Science Tools | 
| -----------------  | 
| Hadoop             | 
| Spark              | 
| Jupyter Notebooks  |

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers

In [11]:
(4*2)+6

14

This will convert 300 minutes to hours by diving by 60

In [12]:
300 / 60

5.0

## Author 
Joshua Caldwell